<div class="portlet box yellow">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-gift"></i>Şifre Değiştir
        </div>

    </div>
    <div class="portlet-body form">
        <!-- BEGIN FORM-->

        <form name="form" class="form-horizontal">
            <div class="form-body">
                <div class="form-group">
                    <label class="control-label col-md-4">Kullanıcı Adı</label>
                    <div class="col-md-4">
                        <input name="userName" type="text" class="form-control" ng-model="vm.data.UserName" readonly/>
                        <div ng-show="form.$submitted || form.userName.$touched">
                            <span ng-show="form.userName.$error.required">Tell us your email.</span>
                            <span ng-show="form.userName.$error.email">This is not a valid email.</span>
                        </div>
                    </div>
                </div>
               
                <div class="form-group">
                    <label class="control-label col-md-4">Şifre</label>
                    <div class="col-md-4">
                        <input type="password" class="form-control" ng-model="vm.data.Password">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4">Şifre Tekrar</label>
                    <div class="col-md-4">
                        <input type="password" class="form-control" ng-model="vm.data.ConfirmPassword">
                    </div>
                </div>
            </div>
            <div class="form-actions fluid">
                <div class="row">
                    <div class="col-md-offset-3 col-md-9">
                        <!--<button type="submit" class="btn green">Oluştur</button>-->
                        <button type="submit" class="btn green" ng-click="vm.changePassword()">Şifre Değiştir</button>
                        <button type="button" class="btn default">Vazgeç</button>
                    </div>
                </div>
            </div>
        </form>
        <!-- END FORM-->
    </div>
</div>