
<div class="row">

    <div class="col-md-8">
        <ul class="pagination">
            <!--<ul class="pagination">
                <li>
                    {{paging.totalItems}} kayıt içinde
                    Toplam <b>{{numbers.length}}</b> sayfa içerisinde <b>{{paging.currentPage}}.</b> sayfayı görmektesiniz
                </li>
            </ul>-->
            <div class="clearfix"></div>
            <!--<li ng-if="first.isShow">
                <a href="javascript:" ng-click="getList(first,paging.pageSize)">
                    <i class="fa fa-angle-double-left"></i>
                </a>
            </li>

            <li ng-if="prev.isShow">
                <a href="javascript:" ng-click="getList(prev,paging.pageSize)">
                    <i class="fa fa-angle-left"></i>
                </a>
            </li>-->

            <li ng-class="{active:vm.pagingData.CurrentPage===item.value}" ng-repeat="item in vm.numbers">
                <!--<a href="javascript:" ng-click="getList(item,paging.pageSize)">-->
                    <a href="javascript:" data-ng-click="vm.getList(item)">
                        {{item.value}}
                    </a>
            </li>

            <!--<li ng-if="next.isShow">
                <a href="javascript:" ng-click="getList(next,paging.pageSize)">
                    <i class="fa fa-angle-double-right fa-angle-right"></i>
                </a>
            </li>

            <li ng-if="last.isShow">
                <a href="javascript:" ng-click="getList(last,paging.pageSize)">
                    <i class="fa fa-angle-double-right"></i>
                </a>
            </li>-->
            <div class="clearfix"></div>

        </ul>
    </div>
    <div class="col-md-4">
        <!--<ul class="pagination pull-right">
            <li class="margin-top-10">

                <div class="btn-group clearfix">
                    <button type="button" ng-click="getList({value:1},10)" ng-class="{active:paging.pageSize===10}" class="btn btn-default btn-sm">10</button>
                    <button type="button" ng-click="getList({value:1},25)" ng-class="{active:paging.pageSize===25}" class="btn btn-default btn-sm">25</button>
                    <button type="button" ng-click="getList({value:1},100)" ng-class="{active:paging.pageSize===100}" class="btn btn-default btn-sm">100</button>
                </div>
            </li>
        </ul>-->
    </div>


</div>