<style>
    .modal-content {
        margin: 100px auto;
    }
</style>

<!--<div class="modal-dialog modal-lg">
    <div class="modal-content">-->
        <div class="modal-header">
            <button type="button" class="close" ng-click="subModel.cancel()"></button>
            <h4 class="modal-title">Mail Oluştur</h4>
        </div>

        <div class="modal-body">
            <text-angular ng-model="subModel.data.answer.Text"></text-angular>
                  <!--  <textarea class="form-control" style="width:100%; min-height:400px" row="10" ng-model="subModel.data.answer.Text"></textarea>-->
        </div>
        <div class="modal-footer">
            <button type="button" class="btn dark btn-outline" ng-click="subModel.cancel()">Vazgeç</button>
            <button type="button" class="btn green" ng-disabled="subModel.isDisabled" ng-click="subModel.answer()">Gönder</button>
        </div>
    <!--</div>-->
    <!-- /.modal-content -->
<!--</div>-->